{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
<h3 class="h3 mb-3 font-weight-normal">Mes questions</h3>

{# Questions de l'utilisateur #}
{% for question in questions %}

    <div class="card bg-secondary mb-3 question-container">
        <div class="card-header">
            <a class="strong" href="{{ path('show_question', {'id':question.id}) }}">{{question.title}}</a>
        </div>
        <div class="card-body">
            <p class="card-text">{{question.body}}</p>
        </div>
        <div class="card-header">
            <p>Posé par 
                <span class="strong">{{ question.user.userName }}</span> le  
                <span class="strong">{{ question.createdAt | date('Y-m-d') }}</span>
            </p>
        </div>
    </div>

{% endfor %}

</div>

{% endblock %}

{% block footer %}

<footer class="footer footer-app">
    <h1>Footer</h1>
</footer>

{% endblock %}