{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    <h1>{{ question.title }}</h1>
    <p>{{ question.body }}</p>

{% for response in question.responses %}

    <div class="card bg-light mb-3 question-container">
        <div class="card-header">Réponse le {{ response.createdAt | date('Y-m-d')}} par {{ response.id }}</div>
        <div class="card-body">
            <p class="card-text">{{ response.body }}</p>
        </div>
    </div>

{% endfor %}

<h3>Répondre à la question</h3>

{{ form_start(responseForm, { 'attr' : { 'class': 'form-container' } }) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(responseForm) }}
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            {{ form_widget(responseForm.body, { 'attr': { 'class' : 'form-control', 'placeholder' : 'Répondre à la question'}} ) }}
        </div>
    </div>
        {{ form_widget(responseForm.save, { 'attr': { 'class' : 'btn btn-primary'}} ) }}
    </div>
{{ form_end(responseForm) }}
</div>

{% endblock %}