{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    {% for message in app.flashes('notice') %}
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>{{message}}</p>
    </div>
    {% endfor %}

    <h3 class="h3 mb-3 font-weight-normal">{{ question.title }}</h3>
    <p class="question-user-info">Question posé par 
        <span class="strong">{{ question.user.userName }}</span> le
        <span class="strong">{{ question.createdAt | date('Y-m-d') }}</span>
    </p>
    {% for tag in question.tags %}
        <a href="{{ path('tag', { 'id': tag.id } ) }}">
            <span class="badge badge-primary badge-question">{{tag.name}}</span>
        </a>
    {% endfor %}
    <p class="show-question">{{ question.body }}</p>
    <div class="responses-container">

{% for response in responses %}

    <div class="card bg-{% if question.correctResponse.id is defined and question.correctResponse.id == response.id %}dark text-black correct-response
                        {% else %}secondary wrong-response
                        {% endif %}mb-3">
        <div class="card-header">
            <p>Réponse le 
                <span class="strong">{{ response.createdAt | date('Y-m-d') }}</span> par
                <span class="strong">{{ response.user.userName }}</span>
            </p>
            {% if question.correctResponse.id is defined and question.correctResponse.id == response.id %}
            <span class="strong validated">Validée</span>
            {% elseif app.user.id is defined and app.user.id == question.user.id %}
            <form method="POST" action="{{ path('select_response', {'question':question.id, 'response':response.id}) }}">
                <button class="btn btn-warning btn-correct-response" type="submit">
                    Valider
                </button>
            </form>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}

            <form method="POST" action="{{ path('moderate_response', {'response': response.id}) }}">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        
                        <button type="submit" class="btn 
                        {% if response.isDisplay == false %}
                        btn-danger
                        {% else %}
                        btn-secondary
                        {% endif %}
                        "
                        {% if response.isDisplay == true %}
                        disabled
                        {% endif %}
                        >On
                        </button>

                        <button type="submit" class="btn 
                        {% if response.isDisplay == false %}
                        btn-secondary
                        {% else %}
                        btn-danger
                        {% endif %}
                        "
                        {% if response.isDisplay == false %}
                        disabled
                        {% endif %}
                        >Off
                        </button>

                    </div>
                </form>

            {% endif %}

        </div>
        <div class="card-body">
            <p class="card-text">{{ response.body }}</p>
        </div>
    </div>

{% endfor %}

    </div>

{% if is_granted(['ROLE_ADMIN', 'ROLE_USER']) %}

<h3>Répondre à la question</h3>

{{ form_start(responseForm, { 'attr' : { 'class': 'form-container' } }) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(responseForm) }}
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            {{ form_widget(responseForm.body, { 'attr': { 'class' : 'form-control form-response', 'placeholder' : 'Répondre à la question'}} ) }}
        </div>
    </div>
    <div>
        {{ form_widget(responseForm.save, { 'attr': { 'class' : 'btn btn-primary'}} ) }}
    </div>
{{ form_end(responseForm) }}

{% endif %}

</div>

{% endblock %}