{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    <h1>{{ question.title }}</h1>
    <p>{{ question.body }}</p>

{% for response in question.responses %}

    <div class="card bg-light mb-3 question-container">
        <div class="card-header">Réponse le {{ response.createdAt | date('Y-m-d')}} par {{ response.id }}</div>
        <div class="card-body">
            <p class="card-text">{{ response.body }}</p>
        </div>
    </div>

{% endfor %}


</div>

{% endblock %}