{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}

<div class="container flex-container-tag">

    <div class="question-container">

        <h3 class="h3 mb-3 font-weight-normal">Tags : {{ currentTag.name }}</h3>
    
        {% for question in currentTag.questions %}

        <div class="card bg-light mb-3 question-container">
            <div class="card-header {% if app.user.id is defined and app.user.id == question.user.id %} bg-secondary {% endif %} ">
                <a href="{{ path('show_question', {'id':question.id}) }}">{{question.title}}</a>
            </div>
            <div class="card-body">
                <p class="card-text">{{question.body}}</p>
            </div>
            <div class="card-header card-post-user">
                <span>Catégories : </span>
                <ul class="list-group list-group-horizontal">
                    {% for tag in question.tags %}
                    <li class="list-group-item list-group-item-success">
                        <a href="{{ path('tag', { 'id': tag.id } ) }}">{{tag.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-header card-post-user">
                <p>Posé par <span class="strong"> {{ question.user.userName }}</span> le <span class="strong">{{ question.createdAt | date('Y-m-d') }}</span></p>
            {% if is_granted('ROLE_ADMIN') %}
                <form method="POST" action="{{ path('moderate_question', {'question': question.id}) }}">
                    <button class="btn btn-lg btn-danger btn-correct-response" type="submit">
                        Modérer
                    </button>
                </form>
            {% endif %}
            </div>
        </div>

        {% endfor %}

    </div>
    
    <section class="tag-container">
        <h3 class="h3 mb-3 font-weight-normal">Catégories</h3>
        <ul class="list-group list-tag">
            {% for tag in tags %}
            <li class="list-group-item list-group-item-success">
                <a href="{{ path('tag', { 'id': tag.id } ) }}">{{ tag.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>

</div>

{% endblock %}